@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1410px;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  background-color: #f9eae1;
}
.help {
  width: 1427px;
  height: 698px;
  left: -10px;
  top: -27px;
}

.first_img {
  width: 1410px;
}
.about {
  display: flex;
  width: 1427px;
  justify-content: center;
}
.about img {
  margin-right: 65px;
}
h2 {
  width: 136px;
  height: 50px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.about p {
  width: 528px;
  margin-top: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.about img {
  width: 444.54px;
  height: 465px;
  left: 182px;
  top: 870px;
}

.privelegies {
  background-color: #8d7370;
  margin-left: 0;
  margin-right: 0;
}
.rectangle137 {
  width: 1400px;
  display: flex;
  justify-content: space-around;
}
.rectangle137 li {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  padding-top: 85px;
  text-transform: uppercase;
  color: #ffffff;
}

.grands {
  padding-bottom: 80px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
}

.grands li {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

li {
  text-align: center;
  list-style-type: none; /* Убираем маркеры */
}

.textOurWorks {
  padding: 0px 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.firstItemImageGroup {
  padding: 0 100px 0;
  display: flex;
  justify-content: space-between;
}
.itemImageGroup {
  padding: 30px 100px 0;
  display: flex;
  justify-content: space-between;
}
.lookMore p {
  width: 295px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.lookMore img {
  width: 60px;
}
.containerImg {
  position: relative;
}

.containerImg:after {
  content: "";
  background: rgba(100, 72, 69, 0.8);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.littleImg {
  width: 488px;
  height: 451px;
}
.ourWorks p:last-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.teamBlock {
  background: #e2c4ba;
  width: 1400px;
  height: 1000px;
}
.team {
  display: flex;
  justify-content: center;
}

.team p {
  margin: 0 auto;
  width: 320px;
  height: 180px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8D7370;;
}
.teamBlockTitle {
  padding-top: 50px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.team img {
  width: 320px;
  height: 253px;
}
.blondyBlock {
  margin: 0 38px 0;
}

.about_work {
 
  margin: 0 auto;
  display: flex;
  width: 1200px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.roundNumber{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #8d7370;
}
.about_work p{
  padding: 0 20px;
}
.reviews h2 {
  width: 191px;
  height: 50px;
  left: 615px;
  top: 3921px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.reviews p {
  width: 407px;
  height: 335px;
  left: 283px;
  top: 4102px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.feedback {
  width: 1400px;
  height: 624px;
  left: 1px;
  top: 4644px;
  background: #8d7370;
}
.feedback p:first-child {
  width: 474px;
  height: 50px;
  left: 182px;
  top: 4694px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
}
.feedback p {
  width: 507px;
  height: 60px;
  left: 183px;
  top: 4768px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.feedback button {
  height: 72.24056243896484px;
  width: 311.347412109375px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #cc8b86;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.feedback input {
  border-bottom: 1px solid #ffffff;
}
