@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1410px;
  min-height: 100%;
  margin: 0 auto;
}
body {
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  background-color: #f9eae1;
}
.menu {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.menu__logo img {
  display: block;
}
.main {
  margin: 90px 0 0 185px;
}
.main__title {
  margin: 0;
  display: block;
  width: 535px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
}
.main__description {
  margin: 50px 0 50px;
  width: 500px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.tel {
  margin-right: 100px;
}
a {
  text-decoration: none;
  color: #533738;
}
a:hover {
  color: #332c2c; /* Цвет ссылки */
}
.help {
  width: 1427px;
  height: 688px;
  background-image: url("../public/images/1_1.jpg");
  background-size: 100% 100%;
}

.help button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  border: none;
  background: #cc8b86;
  height: 72.24056243896484px;
  width: 311.347412109375px;
  border-radius: 0px;
}
.about {
  display: flex;
  width: 1427px;
  justify-content: center;
}
.about img {
  margin-right: 65px;
}
h2 {
  width: 136px;
  height: 50px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.about p {
  width: 528px;
  margin-top: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.about img {
  width: 444.54px;
  height: 465px;
  left: 182px;
  top: 870px;
}

.privelegies {
  background-color: #8d7370;
  margin-left: 0;
  margin-right: 0;
}
.rectangle137 {
  display: flex;
  justify-content: space-around;
}
.rectangle137 li {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  padding-top: 85px;
  text-transform: uppercase;
  color: #ffffff;
}

.grands {
  padding-bottom: 80px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
}

.grands li {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

li {
  text-align: center;
  list-style-type: none; /* Убираем маркеры */
}

.textOurWorks {
  padding: 0px 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.firstItemImageGroup {
  padding: 0 100px 0;
  display: flex;
  justify-content: space-between;
}
.itemImageGroup {
  padding: 30px 100px 0;
  display: flex;
  justify-content: space-between;
}
.lookMore p {
  width: 295px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.lookMore img {
  width: 60px;
}
.containerImg {
  background-image: url("../public/images/1_3.jpg");
  position: relative;
  width: 488px;
  height: 451px;
  z-index: 1;
}
.containerImg span {
  display: block;
  width: 420px;
  height: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 35px 0;
}
.containerImg p {
  margin: 0 auto;
  width: 250px;
  height: 110px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding-top: 85px;
  color: #ffffff;
}
.opacity {
  position: relative;
}
.image__img {
  display: block;
  width: 100%;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 72, 69, 0.8);
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
  transition: all 1s ease;
}
.image__title {
  width: 250px;
  padding: 86px 109px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}
.image__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 18px 35px 0;
}
.image__overlay:hover {
  opacity: 1;
}

.opacity__2{
  position: relative;/**/
  overflow: hidden;/**/
  width: 692px;
    height: 459px;
  /* background-image: url("../public/images/1_4.jpg"); */
  /* background-size: cover; */
  cursor: pointer;
  display: inline-block;
}
.opacity__2_child{
  background-image: url("../public/images/1_4.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 1.1s;
}
.opacity__2:hover .opacity__2_child{
  transform: scale(1.2);
}
.littleImg {
  width: 488px;
  height: 451px;
}
.ourWorks p:last-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.teamBlock {
  background: #e2c4ba;
  width: 1400px;
  height: 1000px;
}
.team {
  display: flex;
  justify-content: center;
}

.team p {
  margin: 0 auto;
  width: 320px;
  height: 180px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #8d7370;
}
.teamBlockTitle {
  padding-top: 50px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.team img {
  width: 320px;
  height: 253px;
}
.blondyBlock {
  margin: 0 38px 0;
}

.about_work {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.roundNumber {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #8d7370;
}
.about_work p {
  padding: 0 20px;
}
.rewiewsBlock h2 {
  width: 191px;
  padding-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.reviews p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.reviews div {
  width: 440px;
  align-self: center;
}
.reviews {
  justify-content: space-between;
  width: 1035px;
  display: flex;
  margin: 65px 160px;
}
.rewiewsBlock div:last-child img {
  margin-bottom: 20px;
}
.feedback {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  height: 625px;
  background: #8d7370;
}
.feedback div {
  width: 590px;
  height: 624px;
  padding-right: 100px;
}
.feedback div:first-child {
  width: 490px;
  height: 450px;
  padding: 50px 50px 125px 170px;
}
.feedback p:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
}
.feedback p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.feedback button {
  border-radius: 0px;
  background: #cc8b86;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 311.35px;
  height: 72.24px;
  border: none;
}
.feedback input {
  border: none;
  background-color: #8d7370;
  color: #ffffff;
}
footer {
  height: 100px;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;
}
.footerContainer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.footerContainer p:nth-child(2) {
  margin-right: auto;
  margin-left: 40px;
}
